body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    display: flex;
    justify-content: center;
    align-items: center;
}